---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title} >
    <p>作者：{frontmatter.author}</p>
    <p>描述：{frontmatter.description}</p>
    <slot />
    <a href={frontmatter.returnUrl}>返回博客首页</a>
</BaseLayout>
